// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Tweet{
  text-align: center;
  list-style: none;
  background-color: yellowgreen;
}
.Content{
  border: solid 1px gray;
}

.Search{
  text-align: center;
}

.Edit{
  display: flex;
}

.user{
  font-size: 20px;
}